@model universidad.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <div class="card">
        <div class="card-header text-center text-primary fw-bold lead">

        
        <p class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </p>
        </div>
        <div class="card-body">

        <p class = "col-sm-10">
           Code: @Html.DisplayFor(model => model.Code)
        </p>
        <p class = "col-sm-10">
            Credits: @Html.DisplayFor(model => model.Credits)
        </p>
        </div>
        <div class="card-footer d-flex justify-content-center gap-2">

            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">
                <i class="bi bi-pencil"></i>
            </a> 
            <a asp-action="Index" class="btn btn-primary">
                <i class="bi bi-arrow-left-circle"></i>
            </a>
        </div>
        
    </div>
</div>

